In [309]:
# reading data from the transformed csv
import pandas as pd
import numpy as np
df = pd.read_csv('data/transformed_data.csv')
df.head()

,Timestamp of Purchase,Store Name,"Basket Items (Name, Size & Price)",Total Price,Cash/Card
0,2021-08-25 09:02:00,Chesterfield,"Large Flavoured iced latte - Caramel - 3.25, R...",17.30,CARD
1,2021-08-25 09:04:00,Chesterfield,"Large Flat white - 2.45, Regular Latte - 2.15",4.60,CARD
2,2021-08-25 09:06:00,Chesterfield,"Regular Flavoured latte - Hazelnut - 2.55, Lar...",5.00,CARD
3,2021-08-25 09:08:00,Chesterfield,"Regular Latte - 2.15, Large Latte - 2.45",4.60,CASH
4,2021-08-25 09:10:00,Chesterfield,"Large Flavoured iced latte - Caramel - 3.25, R...",12.95,CASH

In [310]:
to_drop = ["Store Name", "Total Price", "Cash/Card"]
df.drop(columns=to_drop, inplace=True)
df.index = np.arange(1, len(df) + 1)
df = df.reset_index()
df.rename(columns = {'index':'Customer_Id'}, inplace = True)
df.head(10)

,Customer_Id,Timestamp of Purchase,"Basket Items (Name, Size & Price)"
0,1,2021-08-25 09:02:00,"Large Flavoured iced latte - Caramel - 3.25, R..."
1,2,2021-08-25 09:04:00,"Large Flat white - 2.45, Regular Latte - 2.15"
2,3,2021-08-25 09:06:00,"Regular Flavoured latte - Hazelnut - 2.55, Lar..."
3,4,2021-08-25 09:08:00,"Regular Latte - 2.15, Large Latte - 2.45"
4,5,2021-08-25 09:10:00,"Large Flavoured iced latte - Caramel - 3.25, R..."
5,6,2021-08-25 09:12:00,"Large Flavoured latte - Hazelnut - 2.85, Regul..."
6,7,2021-08-25 09:14:00,"Regular Flavoured iced latte - Vanilla - 2.75,..."
7,8,2021-08-25 09:17:00,"Regular Flavoured iced latte - Caramel - 2.75,..."
8,9,2021-08-25 09:19:00,"Large Flat white - 2.45, Large Flavoured latte..."
9,10,2021-08-25 09:21:00,"Regular Flavoured iced latte - Vanilla - 2.75,..."

In [311]:
df = df.set_index(['Customer_Id']).apply(lambda x:x.str.split(',').explode()).reset_index()
df.head(20)

,Customer_Id,Timestamp of Purchase,"Basket Items (Name, Size & Price)"
0,1,2021-08-25 09:02:00,Large Flavoured iced latte - Caramel - 3.25
1,1,2021-08-25 09:02:00,Regular Flavoured iced latte - Hazelnut - 2.75
2,1,2021-08-25 09:02:00,Regular Flavoured iced latte - Caramel - 2.75
3,1,2021-08-25 09:02:00,Large Flavoured iced latte - Hazelnut - 3.25
4,1,2021-08-25 09:02:00,Regular Flavoured latte - Hazelnut - 2.55
5,1,2021-08-25 09:02:00,Regular Flavoured iced latte - Hazelnut - 2.75
6,2,2021-08-25 09:04:00,Large Flat white - 2.45
7,2,2021-08-25 09:04:00,Regular Latte - 2.15
8,3,2021-08-25 09:06:00,Regular Flavoured latte - Hazelnut - 2.55
9,3,2021-08-25 09:06:00,Large Latte - 2.45
10,4,2021-08-25 09:08:00,Regular Latte - 2.15
11,4,2021-08-25 09:08:00,Large Latte - 2.45
12,5,2021-08-25 09:10:00,Large Flavoured iced latte - Caramel - 3.25
13,5,2021-08-25 09:10:00,Regular Flat white - 2.15
14,5,2021-08-25 09:10:00,Regular Latte - 2.15
15,5,2021-08-25 09:10:00,Large Flavoured iced latte - Hazelnut - 3.25
16,5,2021-08-25 09:10:00,Regular Flat white - 2.15
17,6,2021-08-25 09:12:00,Large Flavoured latte - Hazelnut - 2.85
18,6,2021-08-25 09:12:00,Regular Flavoured iced latte - Vanilla - 2.75
19,6,2021-08-25 09:12:00,Large Flavoured iced latte - Hazelnut - 3.25

In [312]:
df = df.groupby(by=["Customer_Id","Basket Items (Name, Size & Price)"], as_index=False, dropna=False).count()\
    .rename(columns={"Timestamp of Purchase": "Quantity"})
df.head(20)

    Customer_Id                Basket Items (Name, Size & Price)  Quantity
0             1     Large Flavoured iced latte - Hazelnut - 3.25         1
1             1    Regular Flavoured iced latte - Caramel - 2.75         1
2             1   Regular Flavoured iced latte - Hazelnut - 2.75         2
3             1        Regular Flavoured latte - Hazelnut - 2.55         1
4             1      Large Flavoured iced latte - Caramel - 3.25         1
5             2                             Regular Latte - 2.15         1
6             2                          Large Flat white - 2.45         1
7             3                               Large Latte - 2.45         1
8             3        Regular Flavoured latte - Hazelnut - 2.55         1
9             4                               Large Latte - 2.45         1
10            4                             Regular Latte - 2.15         1
11            5     Large Flavoured iced latte - Hazelnut - 3.25         1
12            5                        Regular Flat white - 2.15         2
13            5                             Regular Latte - 2.15         1
14            5      Large Flavoured iced latte - Caramel - 3.25         1
15            6     Large Flavoured iced latte - Hazelnut - 3.25         1
16            6      Large Flavoured iced latte - Vanilla - 3.25         1
17            6          Large Flavoured latte - Hazelnut - 2.85         1
18            6                               Large Latte - 2.45         1
19            6    Regular Flavoured iced latte - Vanilla - 2.75         1

In [313]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 732 entries, 0 to 731
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer_Id                        732 non-null    int64
 1   Basket Items (Name, Size & Price)  732 non-null    object
 2   Quantity                           732 non-null    int64
dtypes: int64(2), object(1)
memory usage: 22.9+ KB

In [314]:
df.duplicated().sum()

0

In [315]:
new = df["Basket Items (Name, Size & Price)"].str.split("-", n=2, expand = True)
df["item_size_name"]= new[0]
df["item_name_price"]= new[1]
df["item_price"]= new[2]
df.drop(columns =["Basket Items (Name, Size & Price)"], inplace = True)
df.head(20)

,Customer_Id,Quantity,item_size_name,item_name_price,item_price
0,1,1,Large Flavoured iced latte,Hazelnut,3.25
1,1,1,Regular Flavoured iced latte,Caramel,2.75
2,1,2,Regular Flavoured iced latte,Hazelnut,2.75
3,1,1,Regular Flavoured latte,Hazelnut,2.55
4,1,1,Large Flavoured iced latte,Caramel,3.25
5,2,1,Regular Latte,2.15,None
6,2,1,Large Flat white,2.45,None
7,3,1,Large Latte,2.45,None
8,3,1,Regular Flavoured latte,Hazelnut,2.55
9,4,1,Large Latte,2.45,None
10,4,1,Regular Latte,2.15,None
11,5,1,Large Flavoured iced latte,Hazelnut,3.25
12,5,2,Regular Flat white,2.15,None
13,5,1,Regular Latte,2.15,None
14,5,1,Large Flavoured iced latte,Caramel,3.25
15,6,1,Large Flavoured iced latte,Hazelnut,3.25
16,6,1,Large Flavoured iced latte,Vanilla,3.25
17,6,1,Large Flavoured latte,Hazelnut,2.85
18,6,1,Large Latte,2.45,None
19,6,1,Regular Flavoured iced latte,Vanilla,2.75

In [316]:
new = df["item_size_name"].str.split(" ", n=2, expand = True)
df["item_size"]= new[0]
df["item_name2"]= new[1]
df["item_name1"]= new[2]
df.drop(columns =["item_size_name"], inplace = True)
df.head(20)

,Customer_Id,Quantity,item_name_price,item_price,item_size,item_name2,item_name1
0,1,1,Hazelnut,3.25,,Large,Flavoured iced latte
1,1,1,Caramel,2.75,,Regular,Flavoured iced latte
2,1,2,Hazelnut,2.75,,Regular,Flavoured iced latte
3,1,1,Hazelnut,2.55,,Regular,Flavoured latte
4,1,1,Caramel,3.25,Large,Flavoured,iced latte
5,2,1,2.15,None,,Regular,Latte
6,2,1,2.45,None,Large,Flat,white
7,3,1,2.45,None,,Large,Latte
8,3,1,Hazelnut,2.55,Regular,Flavoured,latte
9,4,1,2.45,None,,Large,Latte
10,4,1,2.15,None,Regular,Latte,
11,5,1,Hazelnut,3.25,,Large,Flavoured iced latte
12,5,2,2.15,None,,Regular,Flat white
13,5,1,2.15,None,,Regular,Latte
14,5,1,Caramel,3.25,Large,Flavoured,iced latte
15,6,1,Hazelnut,3.25,,Large,Flavoured iced latte
16,6,1,Vanilla,3.25,,Large,Flavoured iced latte
17,6,1,Hazelnut,2.85,,Large,Flavoured latte
18,6,1,2.45,None,,Large,Latte
19,6,1,Vanilla,2.75,,Regular,Flavoured iced latte

In [317]:
df["item_price"].fillna(df.item_name_price, inplace = True)
df.head(20)

,Customer_Id,Quantity,item_name_price,item_price,item_size,item_name2,item_name1
0,1,1,Hazelnut,3.25,,Large,Flavoured iced latte
1,1,1,Caramel,2.75,,Regular,Flavoured iced latte
2,1,2,Hazelnut,2.75,,Regular,Flavoured iced latte
3,1,1,Hazelnut,2.55,,Regular,Flavoured latte
4,1,1,Caramel,3.25,Large,Flavoured,iced latte
5,2,1,2.15,2.15,,Regular,Latte
6,2,1,2.45,2.45,Large,Flat,white
7,3,1,2.45,2.45,,Large,Latte
8,3,1,Hazelnut,2.55,Regular,Flavoured,latte
9,4,1,2.45,2.45,,Large,Latte
10,4,1,2.15,2.15,Regular,Latte,
11,5,1,Hazelnut,3.25,,Large,Flavoured iced latte
12,5,2,2.15,2.15,,Regular,Flat white
13,5,1,2.15,2.15,,Regular,Latte
14,5,1,Caramel,3.25,Large,Flavoured,iced latte
15,6,1,Hazelnut,3.25,,Large,Flavoured iced latte
16,6,1,Vanilla,3.25,,Large,Flavoured iced latte
17,6,1,Hazelnut,2.85,,Large,Flavoured latte
18,6,1,2.45,2.45,,Large,Latte
19,6,1,Vanilla,2.75,,Regular,Flavoured iced latte

In [318]:
df.loc[df["item_size"] == '', 'item_size'] = df['item_name2']
df.head(20)

,Customer_Id,Quantity,item_name_price,item_price,item_size,item_name2,item_name1
0,1,1,Hazelnut,3.25,Large,Large,Flavoured iced latte
1,1,1,Caramel,2.75,Regular,Regular,Flavoured iced latte
2,1,2,Hazelnut,2.75,Regular,Regular,Flavoured iced latte
3,1,1,Hazelnut,2.55,Regular,Regular,Flavoured latte
4,1,1,Caramel,3.25,Large,Flavoured,iced latte
5,2,1,2.15,2.15,Regular,Regular,Latte
6,2,1,2.45,2.45,Large,Flat,white
7,3,1,2.45,2.45,Large,Large,Latte
8,3,1,Hazelnut,2.55,Regular,Flavoured,latte
9,4,1,2.45,2.45,Large,Large,Latte
10,4,1,2.15,2.15,Regular,Latte,
11,5,1,Hazelnut,3.25,Large,Large,Flavoured iced latte
12,5,2,2.15,2.15,Regular,Regular,Flat white
13,5,1,2.15,2.15,Regular,Regular,Latte
14,5,1,Caramel,3.25,Large,Flavoured,iced latte
15,6,1,Hazelnut,3.25,Large,Large,Flavoured iced latte
16,6,1,Vanilla,3.25,Large,Large,Flavoured iced latte
17,6,1,Hazelnut,2.85,Large,Large,Flavoured latte
18,6,1,2.45,2.45,Large,Large,Latte
19,6,1,Vanilla,2.75,Regular,Regular,Flavoured iced latte

In [319]:
df["item_name"] = df["item_name2"] + ' ' + df["item_name1"] + df["item_name_price"]
df.drop(columns =["item_name_price", "item_name1", "item_name2"], inplace = True)
df.head(20)

,Customer_Id,Quantity,item_price,item_size,item_name
0,1,1,3.25,Large,Large Flavoured iced latte Hazelnut
1,1,1,2.75,Regular,Regular Flavoured iced latte Caramel
2,1,2,2.75,Regular,Regular Flavoured iced latte Hazelnut
3,1,1,2.55,Regular,Regular Flavoured latte Hazelnut
4,1,1,3.25,Large,Flavoured iced latte Caramel
5,2,1,2.15,Regular,Regular Latte 2.15
6,2,1,2.45,Large,Flat white 2.45
7,3,1,2.45,Large,Large Latte 2.45
8,3,1,2.55,Regular,Flavoured latte Hazelnut
9,4,1,2.45,Large,Large Latte 2.45
10,4,1,2.15,Regular,Latte 2.15
11,5,1,3.25,Large,Large Flavoured iced latte Hazelnut
12,5,2,2.15,Regular,Regular Flat white 2.15
13,5,1,2.15,Regular,Regular Latte 2.15
14,5,1,3.25,Large,Flavoured iced latte Caramel
15,6,1,3.25,Large,Large Flavoured iced latte Hazelnut
16,6,1,3.25,Large,Large Flavoured iced latte Vanilla
17,6,1,2.85,Large,Large Flavoured latte Hazelnut
18,6,1,2.45,Large,Large Latte 2.45
19,6,1,2.75,Regular,Regular Flavoured iced latte Vanilla

In [320]:
df["item_name"] = df["item_name"].str.replace('\d+', '')
df["item_name"] = df["item_name"].str.replace('Regular+', '')
df["item_name"] = df["item_name"].str.replace('Large+', '')
df["item_name"] = df["item_name"].str.replace('\.', '')
df["item_name"] = df["item_name"].str.strip(' ')
df["item_price"] = df["item_price"].str.strip(' ')
df.head(10)

   Customer_Id  Quantity item_price item_size                       item_name
0            1         1       3.25     Large  Flavoured iced latte  Hazelnut
1            1         1       2.75   Regular   Flavoured iced latte  Caramel
2            1         2       2.75   Regular  Flavoured iced latte  Hazelnut
3            1         1       2.55   Regular       Flavoured latte  Hazelnut
4            1         1       3.25     Large   Flavoured iced latte  Caramel
5            2         1       2.15   Regular                           Latte
6            2         1       2.45     Large                      Flat white
7            3         1       2.45     Large                           Latte
8            3         1       2.55   Regular       Flavoured latte  Hazelnut
9            4         1       2.45     Large                           Latte

In [321]:
# final normarlised basket data
df.rename(columns = {'item_name':'Item_Name'}, inplace = True)
df.rename(columns = {'item_size':'Item_Size'}, inplace = True)
df.rename(columns = {'item_price':'Item_Price'}, inplace = True)
df.rename(columns = {'Customer_Id':'Transaction_Id'}, inplace = True)
df.rename(columns = {'Timestamp of Purchase':'Transaction_Date_Time'}, inplace = True)
items_df = df.iloc[:, [0,4,3,2,1]]
items_df.head(20)

,Transaction_Id,Item_Name,Item_Size,Item_Price,Quantity
0,1,Flavoured iced latte Hazelnut,Large,3.25,1
1,1,Flavoured iced latte Caramel,Regular,2.75,1
2,1,Flavoured iced latte Hazelnut,Regular,2.75,2
3,1,Flavoured latte Hazelnut,Regular,2.55,1
4,1,Flavoured iced latte Caramel,Large,3.25,1
5,2,Latte,Regular,2.15,1
6,2,Flat white,Large,2.45,1
7,3,Latte,Large,2.45,1
8,3,Flavoured latte Hazelnut,Regular,2.55,1
9,4,Latte,Large,2.45,1
10,4,Latte,Regular,2.15,1
11,5,Flavoured iced latte Hazelnut,Large,3.25,1
12,5,Flat white,Regular,2.15,2
13,5,Latte,Regular,2.15,1
14,5,Flavoured iced latte Caramel,Large,3.25,1
15,6,Flavoured iced latte Hazelnut,Large,3.25,1
16,6,Flavoured iced latte Vanilla,Large,3.25,1
17,6,Flavoured latte Hazelnut,Large,2.85,1
18,6,Latte,Large,2.45,1
19,6,Flavoured iced latte Vanilla,Regular,2.75,1

In [327]:
# normalizing transaction data
import pandas as pd
import numpy as np
from math import isnan

df = pd.read_csv('data/transformed_data.csv')
to_drop = ["Basket Items (Name, Size & Price)"]
df.drop(columns=to_drop, inplace=True)

df.index = np.arange(1, len(df) + 1)
df = df.reset_index()
df.rename(columns = {'index':'Transaction_Id'}, inplace = True)

df.rename(columns = {'Cash/Card':'Payment_Type'}, inplace = True)
df.rename(columns = {'Store Name':'Store_Name'}, inplace = True)
df.rename(columns = {'Timestamp of Purchase':'Transaction_Date_Time'}, inplace = True)
df.rename(columns = {'Total Price':'Total_Price'}, inplace = True)

transaction_df = df.iloc[:, [0,1,2,3,4]]
transaction_df.head(10)

,Transaction_Id,Transaction_Date_Time,Store_Name,Total_Price,Payment_Type
0,1,2021-08-25 09:02:00,Chesterfield,17.30,CARD
1,2,2021-08-25 09:04:00,Chesterfield,4.60,CARD
2,3,2021-08-25 09:06:00,Chesterfield,5.00,CARD
3,4,2021-08-25 09:08:00,Chesterfield,4.60,CASH
4,5,2021-08-25 09:10:00,Chesterfield,12.95,CASH
5,6,2021-08-25 09:12:00,Chesterfield,17.40,CARD
6,7,2021-08-25 09:14:00,Chesterfield,13.55,CARD
7,8,2021-08-25 09:17:00,Chesterfield,12.55,CARD
8,9,2021-08-25 09:19:00,Chesterfield,5.30,CARD
9,10,2021-08-25 09:21:00,Chesterfield,13.05,CASH

In [373]:
# gating each store/branch total sales
import pandas as pd
import numpy as np
from math import isnan

df = pd.read_csv('data/transformed_data.csv')
to_drop = ["Basket Items (Name, Size & Price)", "Timestamp of Purchase", "Cash/Card"]
df.drop(columns=to_drop, inplace=True)

df.rename(columns = {'Store Name':'Store_Name'}, inplace = True)
df.head()

     Store_Name  Total Price
0  Chesterfield        17.30
1  Chesterfield         4.60
2  Chesterfield         5.00
3  Chesterfield         4.60
4  Chesterfield        12.95

In [374]:
total_spend = df.groupby(['Store_Name']).sum().rename(columns={"Total Price": "Total_Spend"})
total_spend

              Total_Spend
Store_Name
Chesterfield      2083.45

In [365]:
avg_spend = df.groupby(['Store_Name']).mean().rename(columns={"Total Price": "Average_Spend"})
avg_spend

              Average_Spend
Store_Name
Chesterfield       7.803184

In [375]:
customer_spend = avg_spend.merge(total_spend, on='Store_Name')
df_branch = customer_spend
df_branch

              Average_Spend  Total_Spend
Store_Name
Chesterfield       7.803184      2083.45

In [376]:
# importing normalized dataframe to csv
items_df.to_csv('data/basket_items.csv', index=False)
transaction_df.to_csv('data/transaction.csv', index=False)
df_branch.to_csv('data/branch.csv')

print('Successfull!')

Successfull!